body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    background-color: #292845; 
    color: #f5f6f7;
  }
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    color: #fff;
    background: url(./img/purple_cave.png);    
    height: 1140px;
  }
  .bg-2 { 
    color: #fff;
    height: 500px;
  }
  .container-fluid {
    padding-top: 100px;
    padding-bottom: 100px;
  }